<?xml version="1.0" encoding="utf-8"?>
<!--
This file is used by the publish/package process of your Web project. You can customize the behavior of this process
by editing this MSBuild file. In order to learn more about this please visit https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/0dde5bf2-bf26-49fc-a80c-fa94eea1175b/resourceGroups/ShoppingApp/providers/Microsoft.ApiManagement/service/ShoppingAPIapi/apis/ShoppingAPI</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/0dde5bf2-bf26-49fc-a80c-fa94eea1175b/resourceGroups/ShoppingApp/providers/Microsoft.Web/sites/ShoppingApplication</ResourceId>
    <ResourceGroup>ShoppingApp</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>http://shoppingapplication.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>0b6a251f-4b68-4c82-9124-21d8bb73ca06</ProjectGuid>
    <PublishUrl>https://shoppingapplication.scm.azurewebsites.net/</PublishUrl>
    <UserName>$ShoppingApplication</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>